*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Raleway';
    font-size: 12px;
    background-color: hsl(229, 57%, 11%);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}



#root,
#__next {
    isolation: isolate;
}

/* Fonts */



/* Stles */
body {
    background-image: url('images/bg-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    position: relative;
    margin: auto;
    width: 326px;
    height: 95%;
    /* height: 667px; */
}

.cards {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    width: 326px;
    height: 413px;
    /* margin: auto auto; */
    top: 217px;

}

.card {
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    height: 200px;
    margin: 8px 0 8px 0;

}

.card:first-child {
    height: 201px;
    border-top-right-radius: 100px;
    position: relative;
    padding: 40px;
}

.card:last-child {
    height: 160px;
    position: relative;
    padding: 32px;
    /* padding: px; */
}

header #logo {
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    height: 40px;
}

header #boxes {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    width: 176px;
    margin-top: 32px;
}


header div .box {
    background-repeat: no-repeat;
    background-color: hsl(229, 57%, 11%);
    background-position: center;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    padding: 12px;
    box-shadow: unset;
    transform: scale(1);
    transition: box-shadow .2s, transform .2s;
    cursor: pointer;

}

.box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 1px rgba(184, 184, 184, 0.5)
}

#box1 {
    background-image: url('images/icon-document.svg');
}

#box2 {
    background-image: url('images/icon-folder.svg');
}

#box3 {
    background-image: url('images/icon-upload.svg');
}


.bubble {
    background-color: white;
    padding-left: 24px;
    padding-right: 24px;
    width: 179px;
    height: 72px;
    border-radius: 10px;
    position: absolute;
    bottom: -37px;
    left: 73px;
    line-height: 72px;
    font-weight: bold;
}

.bubble {
    display: flex;
    justify-content: space-between;
    color: hsl(229, 7%, 55%);
}

.bubble span:first-child {
    color: hsl(229, 57%, 11%);
    font-size: 40px;
}




.card div,
p {
    text-align: center;
    /* padding-bottom: 32px 16px; */
}


.card .progress,
p {
    margin-bottom: 16px;
    color: hsl(243, 100%, 93%);

}

.card p strong {
    font-size: 14px;
    /* font-weight: bold; */
}

/* .card .progress {
    height: 44px;
} */
progress {
    /* Reset the default appearance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

}

progress::-webkit-progress-bar,
progress::-moz-progress-bar {
    height: 20px;
    width: 262px;
    border-radius: 10px;
    background-color: hsl(229, 57%, 11%);
    border: 3px solid hsl(229, 57%, 11%);
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
    background: linear-gradient(to right, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
    border-radius: 8px;
    float: left;
}

progress::after {

    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    float: left;
    margin: -7px -13px;
}





.percents {
    margin-top: 13px;
    position: relative;
    font-size: 12px;
    font-weight: bold;
}


.percents>span:first-child {
    position: absolute;
    left: 0;
}

.percents>span:last-child {
    position: absolute;
    right: 0;
}



@media only screen and (min-width: 900px) {

    body {
        background-image: url('images/bg-desktop.png');
        background-position: bottom;
        background-size: unset;
        background-position-x: right;
        overflow: hidden;
    }

    main {
        width: 920px;
        height: 95%;
    }

    .cards {
        display: flex;
        flex-flow: row nowrap;
        width: 920px;
        align-items: flex-end;
        justify-content: center;
    }

    .card {
        margin: 0 15px;
    }

    .card:last-child {
        height: 160px;
        position: relative;
        padding: 32px;
        width: 540px;
    }

    .bubble {
        right: 50px;
        left: unset;
        bottom: unset;
        top: -47px;
        border-bottom-right-radius: 0px;
    }

    .card p {
        text-align: left;
    }


    .bubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        border: 22px solid transparent;
        border-top-color: white;
        border-bottom: 0;
        border-right: 0;
        margin-left: 133px;
        margin-bottom: -21px;
    }

    progress::-webkit-progress-bar {
        height: 20px;
        width: 456px;
    }

    .percents {
        width: 461px;
    }
}

.attribution {
    color: hsla(0, 0%, 97%, 0.5);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: white;
}